
.buscador {
    margin-top: 5%;

    
}

.categoria {
  /* Espacio entre la etiqueta y el select */
}

.grupoPerros {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 8%;
    width: 80% ;
    margin-left: 15%;
}

.perroDatos {
    border: 1px solid black;
    border-radius: 10px;
}

img {
    border-radius: 10px 10px 0px 0px;
}

